@model List<VAPV.DTO.ExcuseDTO>

@{
    ViewData["Title"] = "Vyhledat Výmluvu";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<h1>Vyhledat výmluvu</h1>

<form asp-action="Search" method="post">
    <div class="form-group">
        <label for="category">Kategorie:</label>
        <select class="form-control" id="category" name="category">
            <option value="">Všechny</option>
            @foreach (var category in ViewBag.Categories) {
                <option value="@category">@category</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="searchTerm">Hledaný výraz:</label>
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" />
    </div>
    <button type="submit" class="btn btn-primary">Vyhledat</button>
</form>

@if (Model != null && Model.Count > 0) {
    <h2>Výsledky hledání pro: @(string.IsNullOrEmpty(ViewBag.SearchCategory) ? "Všechny kategorie" : ViewBag.SearchCategory)</h2>
    <ul class="list-group">
        @foreach (var excuse in Model) {
            <li class="list-group-item">@excuse.Text</li>
        }
    </ul>
}
