@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div class="text-center">
    <h1 class="display-4">Virtuální asistent pro výmluvy</h1>
    <p>
        Vítejte ve virtuálním asistentovi pro výmluvy – místě, kde najdete dokonalou výmluvu pro každou situaci! Každý z nás občas potřebuje výmluvu, ať už jde o pracovní schůzku, kterou bychom raději vynechali, zapomenutý úkol nebo jednoduše lenošení na gauči místo plánovaného běhu. Ať už je vaše situace jakákoli, náš virtuální asistent je zde, aby vám pomohl najít tu správnou výmluvu, která vás zachrání!
        Naše databáze výmluv je rozdělena do různých kategorií, abyste snadno a rychle našli tu správnou výmluvu pro svou potřebu.
    </p>
    <img src="~/Images/Gallery/idk.png" alt="Gallery Image" class="img-fluid" />
</div>
