@{
    ViewData["Title"] = "Podmínky používání";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<h1>@ViewData["Title"]</h1>

<p>Aplikace je stále ve vývoji, berte tak prosím na vědoní, že se mohou vyskytovat chyby, či nedokonalosti. Děkujeme za pochopení.</p>
<p>Naše výmluvy jsou tvořeny s nadsázkou a humorem. Některé vtipy a výmluvy se nemusí líbit každému. Pokud máte citlivější povahu nebo vás snadno něco urazí, prosím berte tento obsah s rezervou a nadhledem. Naším cílem je především pobavit a vykouzlit úsměv na tváři.</p>
